@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

body {
  background-color: black;
}

.photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://25.media.tumblr.com/tumblr_mbwy0qsQCZ1rwxbrao1_500.gif");
  background-size: cover;
  background-position: center;
  filter: blur(1px) grayscale(0.4) brightness(0.5);
  z-index: 0;
}

.frame {
  position: relative;
  z-index: 2;
  color: #ded6bb;
  width: 80%;
  margin: 0 auto;
  font-family: "Delius", cursive;
  font-weight: 800;
  font-style: bold;
}

.logo-utama {
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

.title-container {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 400px;
  margin: auto;
}

.body-container {
  max-width: 500px;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}
